.app.dark {
  --bg-color: rgba(1, 1, 90, 1);
  --inverted-bg-color: rgba(236, 225, 225, 1);

  --primary-color: rgba(6, 191, 6, 1);
  --secondary-color: rgba(104, 143, 104, 1);
  --inverted-primary-color: rgb(2, 2, 128);
  --inverted-secondary-color: rgb(2, 2, 128);
}
