.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;

  .links {
    margin-left: auto;
    display: flex;
    gap: 15px;
  }
}
